<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<main id="main" class="top-indent">
		<div class="container">
			<div class="slider" data-dots="true">
				<div class="slides owl-carousel">
					<div class="slider-item">
						<img src="content/img/slide-1.jpg" width="1098" height="574" alt="Slide">
						<div class="caption-wrap">
							<div class="caption text-xs-center">
								<h2 class="title"><a href="post.html">Recently published</a></h2>
                <h3 class="subtitle">technological map of the future</h3>
                <a href="post.html" class="btn btn-outline-default">Read more</a>
							</div>
						</div>
					</div><!-- .slider-item -->

					<div class="slider-item">
						<img src="content/img/slide-2.jpg" width="1098" height="574" alt="Slide">
						<div class="caption-wrap">
							<div class="caption text-xs-center">
								<h2 class="title"><a href="post.html">Trends in the mobile carrier market</a></h2>
                <h3 class="subtitle">technological map of the future</h3>
                <a href="post.html" class="btn btn-outline-default">Read more</a>
							</div>
						</div>
					</div><!-- .slider-item -->

					<div class="slider-item">
						<img src="content/img/slide-3.jpg" width="1098" height="574" alt="Slide">
						<div class="caption-wrap">
							<div class="caption text-xs-center">
								<h2 class="title"><a href="post.html">Build an IT help desk</a></h2>
                <h3 class="subtitle">technological map of the future</h3>
                <a href="post.html" class="btn btn-outline-default">Read more</a>
							</div>
						</div>
					</div><!-- .slider-item -->

				</div>

				<div class="counter"></div>
			</div><!-- .slider -->

			<div class="row">
				<div class="col-xs-12 col-lg-8 posts-list">
					<article class="post bg">
						<div class="post-media">
							<a href="post.html">
								<img class="retina" src="content/img/post-1-718.jpg" width="718" height="452" alt="Post Image">
							</a>
						</div>

						<div class="post-header center-align">
							<div class="tags all-caps"><a href="#">Mobile</a></div>
							<h2 class="post-title"><a href="post.html">A technological map of the future</a></h2>
							<div class="date">Posted on June 15, 2016</div>
						</div>

						<div class="post-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aspernatur dolores dolorum
								fuga fugit, hic ipsam magnam magni mollitia nulla pariatur perferendis porro saepe sequi suscipit
								temporibus totam veritatis! Accusamus amet animi at, beatae deleniti deserunt eum explicabo laboriosam
								minus molestiae nesciunt nobis, non odit perferendis quam qui quo repudiandae, sed similique soluta
								ullam vero voluptate. Adipisci aspernatur commodi doloremque doloribus error est et illum iusto,
								laborum laudantium nam nobis nostrum praesentium quasi quibusdam ratione reprehenderit, sequi
								veritatis, vitae?</p>

							<div class="more text-xs-center">
								<a href="post.html" class="btn btn-outline-default">Continue Reading</a>
							</div>
						</div>

						<div class="row post-footer">
							<div class="col-sm-6 post-author">
								By: <a href="post.html">Mark</a>
							</div>

							<div class="col-sm-6 text-sm-right post-sharing">
								Share:
								<ul class="social">
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
								</ul>
							</div>
						</div>
					</article><!-- .post -->

					<div class="row grid-layout masonry-layout">
						<!-- Grid size -->
						<div class="col-xs-12 col-md-6 grid-sizer"></div>

						<article class="col-xs-12 col-md-6 grid-item">
							<div class="post bg">
								<div class="post-media">
									<a href="post.html">
										<img class="retina" src="content/img/post-1-338.jpg" width="338" height="320" alt="Post Image">
									</a>
								</div>

								<div class="post-header center-align">
									<div class="tags all-caps"><a href="#">Mobile</a></div>
									<h2 class="post-title"><a href="post.html">A technological map of the future</a></h2>
									<div class="date">Posted on June 15, 2016</div>
								</div>

								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aspernatur dolores dolorum
										fuga fugit, hic ipsam magnam magni mollitia nulla pariatur perferendis porro saepe sequi suscipit
										temporibus totam veritatis! Accusamus amet animi at.</p>
								</div>

								<div class="post-footer">
									<div class="post-author">
										By: <a href="post.html">Mark</a>
									</div>

									<div class="post-sharing">
										Share:
										<ul class="social">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
										</ul>
									</div>
								</div>

								<div class="clearfix"></div>
							</div><!-- .post -->
						</article>

						<article class="col-xs-12 col-md-6 grid-item">
							<div class="post bg">
								<div class="post-media">
									<a href="post.html">
										<img class="retina" src="content/img/post-2-338.jpg" width="338" height="320" alt="Post Image">
									</a>
								</div>

								<div class="post-header center-align">
									<div class="tags all-caps"><a href="#">Design</a></div>
									<h2 class="post-title"><a href="post.html">Trends in the mobile carrier market</a></h2>
									<div class="date">Posted on June 14, 2016</div>
								</div>

								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aspernatur dolores dolorum
										fuga fugit, hic ipsam magnam magni mollitia nulla pariatur perferendis porro saepe sequi suscipit
										temporibus totam veritatis!</p>
								</div>

								<div class="post-footer">
									<div class="post-author">
										By: <a href="post.html">Mark</a>
									</div>

									<div class="post-sharing">
										Share:
										<ul class="social">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
										</ul>
									</div>
								</div>

								<div class="clearfix"></div>
							</div><!-- .post -->
						</article>

						<article class="col-xs-12 col-md-6 grid-item">
							<div class="post bg">
								<div class="post-media">
									<a href="post.html">
										<img class="retina" src="content/img/post-3-338.jpg" width="338" height="320" alt="Post Image">
									</a>
								</div>

								<div class="post-header center-align">
									<div class="tags all-caps"><a href="#">Development</a></div>
									<h2 class="post-title"><a href="post.html">Build an IT help desk</a></h2>
									<div class="date">Posted on June 13, 2016</div>
								</div>

								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aspernatur dolores dolorum
										fuga fugit, hic ipsam magnam magni mollitia nulla pariatur perferendis porro saepe sequi suscipit
										temporibus totam veritatis!</p>
								</div>

								<div class="post-footer">
									<div class="post-author">
										By: <a href="post.html">Mark</a>
									</div>

									<div class="post-sharing">
										Share:
										<ul class="social">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
										</ul>
									</div>
								</div>

								<div class="clearfix"></div>
							</div><!-- .post -->
						</article>

						<article class="col-xs-12 col-md-6 grid-item">
							<div class="post bg">
								<div class="post-media">
									<a href="post.html">
										<img class="retina" src="content/img/post-4-338.jpg" width="338" height="320" alt="Post Image">
									</a>
								</div>

								<div class="post-header center-align">
									<div class="tags all-caps"><a href="#">Mobile</a></div>
									<h2 class="post-title"><a href="post.html">Top Reasons To Modernize Your Business</a></h2>
									<div class="date">Posted on June 12, 2016</div>
								</div>

								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aspernatur dolores dolorum
										fuga fugit, hic ipsam magnam magni mollitia nulla pariatur perferendis porro saepe sequi suscipit
										temporibus totam veritatis! Accusamus amet animi at.</p>
								</div>

								<div class="post-footer">
									<div class="post-author">
										By: <a href="post.html">Mark</a>
									</div>

									<div class="post-sharing">
										Share:
										<ul class="social">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
										</ul>
									</div>
								</div>

								<div class="clearfix"></div>
							</div><!-- .post -->
						</article>

						<article class="col-xs-12 col-md-6 grid-item">
							<div class="post bg">
								<div class="post-media">
									<a href="post.html">
										<img class="retina" src="content/img/post-5-338.jpg" width="338" height="320" alt="Post Image">
									</a>
								</div>

								<div class="post-header center-align">
									<div class="tags all-caps"><a href="#">Modernize</a></div>
									<h2 class="post-title"><a href="post.html">TechCrunch Shanghai 2016</a></h2>
									<div class="date">Posted on June 11, 2016</div>
								</div>

								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aspernatur dolores dolorum
										fuga fugit, hic ipsam magnam magni mollitia nulla pariatur perferendis porro saepe sequi suscipit
										temporibus totam veritatis!</p>
								</div>

								<div class="post-footer">
									<div class="post-author">
										By: <a href="post.html">Mark</a>
									</div>

									<div class="post-sharing">
										Share:
										<ul class="social">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
										</ul>
									</div>
								</div>

								<div class="clearfix"></div>
							</div><!-- .post -->
						</article>

						<article class="col-xs-12 col-md-6 grid-item">
							<div class="post bg">
								<div class="post-media">
									<a href="post.html">
										<img class="retina" src="content/img/post-6-338.jpg" width="338" height="320" alt="Post Image">
									</a>
								</div>

								<div class="post-header center-align">
									<div class="tags all-caps"><a href="#">Mobile</a></div>
									<h2 class="post-title"><a href="post.html">A technological map of the future</a></h2>
									<div class="date">Posted on June 10, 2016</div>
								</div>

								<div class="post-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aspernatur dolores dolorum
										fuga fugit, hic ipsam magnam magni mollitia nulla pariatur perferendis porro saepe sequi suscipit
										temporibus totam veritatis! Accusamus amet animi at.</p>
								</div>

								<div class="post-footer">
									<div class="post-author">
										By: <a href="post.html">Mark</a>
									</div>

									<div class="post-sharing">
										Share:
										<ul class="social">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
										</ul>
									</div>
								</div>

								<div class="clearfix"></div>
							</div><!-- .post -->
						</article>
					</div><!-- .grid-layout -->

					<nav>
						<ul class="row pager">
							<li class="col-xs-6 text-xs-left"></li>
							<li class="col-xs-6 text-xs-right"><a href="#">Older Posts <span class="arrow-right"></span></a></li>
						</ul>
					</nav>
				</div>

				<div class="col-xs-12 col-lg-4 sidebar">
					<aside class="widget bg about-me-widget">
						<h4 class="widget-title"><span>About Me</span></h4>

						<div class="about-widget">
							<div class="about-img">
								<img class="retina" src="content/img/about-widget.jpg" width="250" height="250" alt="About Me">
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deserunt dolor dolores, dolorum
								impedit ipsam laboriosam mollitia nostrum nulla repellat!
								<span class="clearfix"></span>
								<a href="about-me.html">Read More</a>
							</p>
						</div>
					</aside><!-- .about-me-widget -->

					<aside class="widget bg social-widget">
						<h4 class="widget-title"><span>Follow Us</span></h4>

						<ul class="social">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
						</ul>
					</aside><!-- .social-widget -->

					<aside class="widget bg widget_categories">
						<h4 class="widget-title"><span>Categories</span></h4>
						<ul class="menu">
							<li class="cat-item">
								<a href="#">Development</a> (5)
							</li>
							<li class="cat-item active">
								<a href="#">Technological</a> (6)
							</li>
							<li class="cat-item">
								<a href="#">Support</a> (10)
							</li>
							<li class="cat-item">
								<a href="#">Design</a> (5)
							</li>
						</ul>
					</aside><!-- .widget_categories -->

					<aside class="widget bg latest-posts-widget">
						<h4 class="widget-title"><span>Latest Posts</span></h4>
						<ul>
							<li>
								<a href="#" class="post-img">
									<img class="retina" src="content/img/post-widget-1.jpg" width="68" height="68" alt="">
								</a>
								<div class="post-content">
									<h5 class="post-title"><a href="#">A technological map of the future</a></h5>
									<div class="date">June 4, 2016</div>
								</div>
							</li>
							<li>
								<a href="#" class="post-img">
									<img class="retina" src="content/img/post-widget-2.jpg" width="68" height="68" alt="">
								</a>
								<div class="post-content">
									<h5 class="post-title"><a href="#">Trends in the mobile carrier market</a></h5>
									<div class="date">June 3, 2016</div>
								</div>
							</li>
							<li>
								<a href="#" class="post-img">
									<img class="retina" src="content/img/post-widget-3.jpg" width="68" height="68" alt="">
								</a>
								<div class="post-content">
									<h5 class="post-title"><a href="#">Build an IT help desk</a></h5>
									<div class="date">June 2, 2016</div>
								</div>
							</li>
							<li>
								<a href="#" class="post-img">
									<img class="retina" src="content/img/post-widget-4.jpg" width="68" height="68" alt="">
								</a>
								<div class="post-content">
									<h5 class="post-title"><a href="#">Top Reasons To Modernize Your Business</a></h5>
									<div class="date">June 1, 2016</div>
								</div>
							</li>
						</ul>
					</aside><!-- .latest-posts -->

					<aside class="widget bg gallery-widget">
						<h4 class="widget-title"><span>Photo Gallery</span></h4>

						<ul class="gallery-list">
							<li>
								<a href="content/img/widget-gallery-big-1.jpg" class="gallery-item">
									<img class="retina" src="content/img/widget-gallery-1.jpg" width="100" height="100" alt="">
								</a>
							</li>
							<li>
								<a href="content/img/widget-gallery-big-2.jpg" class="gallery-item">
									<img class="retina" src="content/img/widget-gallery-2.jpg" width="100" height="100" alt="">
								</a>
							</li>
							<li>
								<a href="content/img/widget-gallery-big-3.jpg" class="gallery-item">
									<img class="retina" src="content/img/widget-gallery-3.jpg" width="100" height="100" alt="">
								</a>
							</li>
							<li>
								<a href="content/img/widget-gallery-big-4.jpg" class="gallery-item">
									<img class="retina" src="content/img/widget-gallery-4.jpg" width="100" height="100" alt="">
								</a>
							</li>
							<li>
								<a href="content/img/widget-gallery-big-5.jpg" class="gallery-item">
									<img class="retina" src="content/img/widget-gallery-5.jpg" width="100" height="100" alt="">
								</a>
							</li>
							<li>
								<a href="content/img/widget-gallery-big-6.jpg" class="gallery-item">
									<img class="retina" src="content/img/widget-gallery-6.jpg" width="100" height="100" alt="">
								</a>
							</li>
						</ul>
					</aside><!-- .widget-gallery -->

					<aside class="widget bg banner-widget">
						<img class="retina banner-img" src="content/img/widget-banner.jpg" width="325" height="350" alt="banner">

						<div class="banner-link">
							<div class="cell-vertical-wrapper">
								<div class="cell-middle">
									<h4 class="title">Your add here</h4>
								</div>
							</div>
						</div>
					</aside><!-- .banner-widget -->

					<aside class="widget bg widget_tag_cloud">
						<h4 class="widget-title"><span>Tag cloud</span></h4>

						<div class="tagcloud">
							<a href="#">Mobile</a>
							<a href="#">Design</a>
							<a href="#">App</a>
							<a href="#">Modernize</a>
							<a href="#">Business</a>
							<a href="#">IT</a>
							<a href="#">Technological</a>
							<a href="#">Support</a>
						</div>
					</aside><!-- .widget_categories -->

					<aside class="widget bg">
						<h4 class="widget-title"><span>Newsletter</span></h4>

						<form class="subscribe m-b-0">
							<div class="form-group">
								<input id="subscribe" class="form-control" type="email" name="subscribe" placeholder="your email">
								<span class="form-message"></span>
							</div>
							<button class="btn btn-block btn-outline-default">Subscribe</button>
						</form>
					</aside><!-- .subscribe -->
				</div><!-- .sidebar -->
			</div>
		</div>
	</main><!-- #main -->

	<footer class="site-footer">
		<div class="footer-banners">
			<h4 class="banners-title">Follow us <span class="accent-color">@</span> Instagram</h4>

			<ul>
				<li>
					<a href="#">
						<img class="retina" src="content/img/footer-1.jpg" width="240" height="240" alt="">
						<ul class="item-info">
							<li class="likes">11859</li>
							<li class="comments">31</li>
						</ul>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="retina" src="content/img/footer-2.jpg" width="240" height="240" alt="">
						<ul class="item-info">
							<li class="likes">9254</li>
							<li class="comments">52</li>
						</ul>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="retina" src="content/img/footer-3.jpg" width="240" height="240" alt="">
						<ul class="item-info">
							<li class="likes">615</li>
							<li class="comments">20</li>
						</ul>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="retina" src="content/img/footer-4.jpg" width="240" height="240" alt="">
						<ul class="item-info">
							<li class="likes">992</li>
							<li class="comments">12</li>
						</ul>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="retina" src="content/img/footer-5.jpg" width="240" height="240" alt="">
						<ul class="item-info">
							<li class="likes">2456</li>
							<li class="comments">45</li>
						</ul>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="retina" src="content/img/footer-6.jpg" width="240" height="240" alt="">
						<ul class="item-info">
							<li class="likes">3254</li>
							<li class="comments">9</li>
						</ul>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="retina" src="content/img/footer-7.jpg" width="240" height="240" alt="">
						<ul class="item-info">
							<li class="likes">875</li>
							<li class="comments">44</li>
						</ul>
					</a>
				</li>
				<li>
					<a href="#">
						<img class="retina" src="content/img/footer-8.jpg" width="240" height="240" alt="">
						<ul class="item-info">
							<li class="likes">548</li>
							<li class="comments">51</li>
						</ul>
					</a>
				</li>
			</ul>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-xs-center text-sm-left">
					<p>&#169; 2016 - All Rights Reserved.</p>
				</div>
				<div class="col-sm-6 text-xs-center text-sm-right">
					<p>Designed &amp; Developed by <a href="#">Next Item</a></p>
				</div>
			</div>
		</div>
	</footer><!-- .site-footer -->
</div><!-- .page-box -->

<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/jquery-migrate-1.4.1.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/appear.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.touchwipe.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>