<footer class="footer">
  <small>
    The <a href="#">My blog</a>
    by <a href="#">Mercy K</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about_path' %></li>
      <li><%= link_to "Contact", 'contact_path' %></li>
      <li><a href="#">Share</a></li>
    </ul>
  </nav>
</footer>
